In [22]:
import pandas as pd
inputfile = "dictionaries/institution_directory_2023.xlsx"
df = pd.read_excel(inputfile, sheet_name="varlist")

In [24]:
df.head(3)

,varnumber,varname,DataType,Fieldwidth,format,imputationvar,varTitle
0,1,UNITID,N,6,Cont,NaN,Unique identification number of the institution
1,10001,INSTNM,A,120,Alpha,NaN,Institution (entity) name
2,16081,IALIAS,A,2000,Alpha,NaN,Institution name alias

In [31]:
for row in df.itertuples():
    print(f"row = {row.varname}")

row = UNITID
row = INSTNM
row = IALIAS
row = ADDR
row = CITY
row = STABBR
row = ZIP
row = FIPS
row = OBEREG
row = CHFNM
row = CHFTITLE
row = GENTELE
row = EIN
row = UEIS
row = OPEID
row = OPEFLAG
row = WEBADDR
row = ADMINURL
row = FAIDURL
row = APPLURL
row = NPRICURL
row = VETURL
row = ATHURL
row = DISAURL
row = SECTOR
row = ICLEVEL
row = CONTROL
row = HLOFFER
row = UGOFFER
row = GROFFER
row = HDEGOFR1
row = DEGGRANT
row = HBCU
row = HOSPITAL
row = MEDICAL
row = TRIBAL
row = LOCALE
row = OPENPUBL
row = ACT
row = NEWID
row = DEATHYR
row = CLOSEDAT
row = CYACTIVE
row = POSTSEC
row = PSEFLAG
row = PSET4FLG
row = RPTMTH
row = INSTCAT
row = C21BASIC
row = C21IPUG
row = C21IPGRD
row = C21UGPRF
row = C21ENPRF
row = C21SZSET
row = C18BASIC
row = C15BASIC
row = CCBASIC
row = CARNEGIE
row = LANDGRNT
row = INSTSIZE
row = F1SYSTYP
row = F1SYSNAM
row = F1SYSCOD
row = CBSA
row = CBSATYPE
row = CSA
row = COUNTYCD
row = COUNTYNM
row = CNGDSTCD
row = LONGITUD
row = LATITUDE
row = DFRCGID
row = DFRCUSCG